html, body {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.heart {
width: 100px;
height: 100px;
position: relative;
background-color: #af070b;
transform: rotate(-45deg);
animation: heart 5s infinite;
}

@keyframes heart {
    0%   {transform: rotate(-45deg) scale(1);}
    50%  {
            transform: rotate(-45deg) scale(3);
            background-color: #7f0306;
        }
    100%  {transform: rotate(-45deg) scale(1);}
}

@keyframes heart-color {
    50%  {background-color: #7f0306;}
}

.heart:after {
content: "";
width: 100%;
height: 100%;
border-radius: 50%;
left: 50%;
position: absolute;
animation: heart-color 5s infinite;
background-color: #af070b;
}

.heart:before {
content: "";
width: 100%;
height: 100%;
border-radius: 50%;
bottom: 50%;
position: absolute;
animation: heart-color 5s infinite;
background-color: #af070b;
}


.showLetter {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
  }
  
  /* Estilos para a modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* fundo preto escuro */
  }
  
  /* Conteúdo da modal */
  .modal-content {
    background-color: #f5deb3; /* Cor de fundo papiro */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #8b4513; /* Cor da borda papiro */
    width: 80%;
    max-width: 500px;
    position: relative;
  }
  
  /* Estilo de uma carta de papiro */
  .modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/papyrus.png'); /* Textura de papiro */
    opacity: 0.8;
    z-index: -1;
  }
  
  /* Botão fechar */
  .close {
    color: #8b4513; /* Cor do fechar papiro */
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  